@using AdmissionCommittee.Domain.Entities
@model AdmissionCommittee.Domain.Entities.Enrollee

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>Edit @(Model.LastName + " " + Model.FirstName + " " + Model.Patronymic)</h3>
    </div>
    @using (Html.BeginForm("Edit", "Admin"))
    {
        <div class="panel-body">
            @Html.HiddenFor(m => m.EnrolleeID)
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "EnrolleeID" && property.PropertyName != "EducationLevel" && property.PropertyName != "DateOfBirth")
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
                        @Html.ValidationMessage(property.PropertyName)
                    </div>
                }
                if (property.PropertyName == "DateOfBirth")
                {
                    <div class="form-group">
                        <label>@(property.DisplayName ?? property.PropertyName)</label>
                        @Html.TextBox(property.PropertyName, ((DateTime)property.Model).ToString("d"), new { @class = "form-control" })
                        @Html.ValidationMessage(property.PropertyName)
                    </div>
                }
                if (property.PropertyName == "EducationLevel")
                {
                    <div class="form-group">
                        <label>Education level</label>
                        @Html.EnumDropDownListFor(m => m.EducationLevel, new { @class = "form-control" })
                    </div>
                }
            }
            
        </div>

        <div class="panel-footer">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Cancel and return to List", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</div>