@model AdmissionCommittee.Domain.Entities.Enrollee

@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="panel">
    <div class="panel-heading">
        <h3>@(Model.LastName + " " + Model.FirstName + " " + Model.Patronymic)</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped table-condensed table-bordered">
            @foreach (var property in ViewData.ModelMetadata.Properties)
            {
                if (property.PropertyName != "EnrolleeID" && property.PropertyName != "DateOfBirth")
                {
                    <tr>
                        <td><label>@(property.DisplayName ?? property.PropertyName)</label></td>
                        <td>@property.Model</td>
                    </tr>
                }
                if (property.PropertyName == "DateOfBirth")
                {
                    <tr>
                        <td><label>@(property.DisplayName ?? property.PropertyName)</label></td>
                        <td>@(((DateTime)property.Model).ToString("d"))</td>
                    </tr>
                }
            }
        </table>
    </div>
    <div class="panel-footer">
        @Html.ActionLink("Edit", "Edit", new { Model.EnrolleeID }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Cancel and return to List", "Index", null, new { @class = "btn btn-default" })
    </div>
</div>
