@using AdmissionCommittee.Domain.Entities
@model IList<Speciality>

<table class="mdl-data-table en-full_width">
    @if (Model.Count() == 0)
    {
        <tr>
            <td class="mdl-data-table__cell--non-numeric ">
                Specialties not found
            </td>
        </tr>
    }
    else
    {
        for (int i = 0; i < Model.Count(); i++)
        {
            <tr class="proposed_speciality" data-id="@Model[i].SpecialityId">
                <td class="mdl-data-table__cell--non-numeric">
                    <div class="en-text_overflow en-table_td_speciality">
                        <div>@Model[i].NCSQSpeciality.Cipher</div>
                        <div>@Model[i].NCSQSpeciality.Name</div>
                    </div>
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    <div class="en-text_overflow en-table_td_qualification">
                        @Model[i].NCSQSpeciality.Qualification
                    </div>
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    <div class="en-table_td_form">
                        @Model[i].EducationForm.Name
                    </div>
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    <div class="en-table_td_duration">
                        @Model[i].EducationDuration.Duration
                    </div>
                </td>
                <td class="mdl-data-table__cell--non-numeric">
                    <div class="en-table_td_subjects">
                        @for (int j = 0; j < Model[i].SpecialitySubjects.Count(); j++)
                        {
                            if (Model[i].SpecialitySubjects[j].Priority <= 2)
                            {
                                <div>@Model[i].SpecialitySubjects[j].Subject.Name</div>
                            }
                        }
                    </div>
                </td>
                <td>
                    <div class="en-table_td_button">
                        <button class="mdl-button mdl-js-button mdl-button--icon en-js-spec_add_button" onclick="AddButtonClick()">
                            <i class="material-icons">add</i>
                        </button>
                    </div>                
                </td>
            </tr>
        }
    }
</table>
<script>
    
</script>